<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <ul>
        <li th:each="dto : ${list}">
            [[${dto}]]
        </li>
    </ul>

    <hr><hr>
    <ul>
        <li th:each="dto, status : ${list}">
            [[${status.index}]] --- [[${dto}]]
        </li>
    </ul>

    <hr><hr>

    <ul>
        <li th:each="dto, status : ${list}" th:if="${dto.sno % 5 == 0}">
            [[${dto}]]
        </li>
    </ul>

    <hr><hr>

    <ul>
        <li th:each="dto, status : ${list}">
            <span th:if="${dto.sno%5==0}" th:text="${'-----------------'+dto.sno}"></span>
            <span th:unless="${dto.sno%5==0}" th:text="${dto.first}"></span>
        </li>
    </ul>

    <hr><hr>

    <ul>
        <li th:each="dto, status : ${list}" th:text="${dto.sno%5==0}?${dto.sno}: ${dto.first}">
        </li>
    </ul>

    <hr><hr>

    <style>
        .target{
            background-color:red;
        }
    </style>
    <ul>
        <li th:each="dto, status : ${list}" th:class="${dto.sno%5==0}?'target'" th:text="${dto}"></li>
    </ul>

    <hr><hr>

    <ul>
        <th:block th:each="dto: ${list}">
            <li th:text="${dto.sno%5==0}?${dto.sno}:${dto.first}"></li>
        </th:block>
    </ul>
</body>
</html>