<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <ul>
    <li th:each="dto:${list}">
      <a th:href="@{/sample/exView}">[[${dto}]]</a>
    </li>
  </ul>

    <hr><hr>

    <ul>
        <li th:each="dto:${list}">
            <a href="@{/sample/exView(sno=${dto.sno})}">[[${dto}]]</a>
        </li>
    </ul>

  <hr><hr>

    <ul>
        <li th:each="dto:${list}">
            <a th:href="@{/sample/exView/{sno}(sno=${dto.sno})}">[[${dto}]]</a>
        </li>
    </ul>

  <hr><hr>

    <ul>
        <li th:each="dto:${list}">
            [[${#numbers.formatInteger(dto.sno, 5)}]]
        </li>
    </ul>

  <hr><hr>

    <ul>
        <li th:each="dto:${list}">
            [[${dto.sno}]]   ---   [[${#temporals.format(dto.regTime, 'yyyy/MM/dd')}]]
        </li>
    </ul>
</body>
</html>